
{% extends 'base.html' %}

{% block content %}
  {% if user.is_authenticated %}
  <h1>{{ new_posts_message }}</h1>
      <h1 class="mt-4 text-center">Discussion Posts</h1>
      <div class="text-center my-3">
          <span class="mr-2">Number of Posts: {{ object_list|length }}</span> <br/><br/>
          <a href="{% url 'create_post' %}" class="btn btn-success">Add Post</a>
      </div>
      <hr />
      <div class="card">
          <div class="card-body">
              <table class="table table-bordered table-hover">
                  <thead class="thead-dark">
                      <tr>
                          <th>Title</th>
                          <th>Subject</th>
                          <th>Posted By</th>
                          <th>Date</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for post in object_list %}
                          <tr>
                              <td><a href="{% url 'post' post.pk %}">{{ post.title }}</a></td>
                              <td> {{ post.subject }}</td>
                              <td>{{ post.author }} 
                                {% if post.author.is_student %}
                                  (Student)
                                {% elif post.author.is_teacher %}
                                  <i>(Teacher)</i>
                                {% else %}
                                  <strong>(Admin)</strong>
                                {% endif %}
                              </td>
                              <td>{{ post.date }}</td>
                          </tr>
                      {% empty %}
                          <tr>
                              <td colspan="3" class="text-center font-italic">There aren't any posts</td>
                          </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
</div>

    {% else %}
      <h1 class="mt-4 text-center display-4">Welcome to Learning Academy!</h1>
      <div class="text-center my-4">
          <p class="lead">
              Please <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Login</a> or register as a 
              <a href="{% url 'student_signup' %}" class="btn btn-success btn-lg">Student</a> or a 
              <a href="{% url 'teacher_signup' %}" class="btn btn-info btn-lg">Teacher</a>!
          </p>
          <p class="font-weight-bold">Your learning or teaching success starts with us!</p>
      </div>
    {% endif %}
{% endblock %}
