{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="mt-4">{{ question.txt }}</h2>
            <form method="post" novalidate>
                {% csrf_token %}
                {{ formset.management_form }}
                {{ form }}
                <div class="my-3">
                    <strong>Answers</strong>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-8">
                                <strong>Answers</strong>
                            </div>
                            <div class="col-2">
                                <strong>Correct?</strong>
                            </div>
                        </div>
                    </div>
                    <div class="list-group list-group-flush list-group-formset">
                        {% for form in formset %}
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col-8">
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                        {{ form.text }}
                                        {% if form.instance.pk and form.text.value != form.instance.text %}
                                            <p class="mb-0 mt-1"><small class="text-muted font-italic"><strong>Old answer:</strong> {{ form.instance.text }}</small></p>
                                        {% endif %}
                                    </div>
                                    <div class="col-2">
                                        {{ form.is_correct }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <button type="submit" class="btn btn-success mt-3">Save changes</button>
                <!-- <a href="{% url 'edit_quiz' quiz.pk %}" class="btn btn-outline-secondary mt-3">Nevermind</a> -->
            </form>
        </div>
    </div>
{% endblock %}
