{% extends 'base.html' %}

{% block content %}
  <h1>Take Quiz: {{ quiz.name }}</h1>
  <form method="post">
    {% csrf_token %}
    {% for question, form in questions_and_forms %}
      <fieldset>
        <legend>{{ question.text }}</legend>
        {% for answer in question.answers.all %}
          <label>
            <input type="radio" name="answer_{{ question.id }}" value="{{ answer.id }}">
            {{ answer.text }}
          </label><br>
        {% endfor %}
      </fieldset>
    {% endfor %}
    <button type="submit">Submit</button>
  </form>
{% endblock %}
